#login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(
    180deg,
    #333840 33.85%,
    #46494b 60.9%,
    #69685f 97.47%,
    #f5e6b1 139.3%
  );

  #login-container {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;

    .title {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1.2rem;

      .title-text {
        color: #fdd18e;
        text-shadow: 0px 4px 4px rgba(253, 209, 142, 0.3);
        font-size: 25px;
        font-weight: 700;
        letter-spacing: 1.75px;
      }
    }

    .login-button-text {
      color: #fdd18e;
      font-size: 1rem;
      letter-spacing: 2.5px;
    }

    .google-icon {
      margin-right: 20px;
    }

    .google-button-text {
      color: #f8f8eb;
      font-size: 0.8rem;
      letter-spacing: 2px;
    }
  }
}
