#playlists {
    width: 100%;
    height: 77.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;

    .playlists-top {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .playlists-title {
            color: #F8F8EB;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.84px;
            margin: 8px;
        }

        .add-playlist {
            color: #F8F8EB;
            border-radius: 10px;
            background: rgba(248, 248, 235, 0.08);
            padding: 6px 10px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .add-icon {
                width: 1rem;
                height: 1rem;
                color: #F8F8EB;
                margin-right: 5px;
            }

            .button-text {
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.84px;
            }
        }
    }

    .playlists-container {
        width: calc(100% - 16px);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 8px 8px 0;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;

        .playlist {
            margin-bottom: 1.2rem;
        }
    }

    .playlists-container::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}