#control-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .control-btn {
        width: 3rem;
        height: 3rem;
        color: #F8F8EB;
    }
}