.Page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #333840 33.85%, #46494B 60.9%, #69685F 97.47%, #F5E6B1 139.3%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

